@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);
  --color-gray: #f7f7f7;
  --color-green: #1fa868;
  /* --color-primary: #349996; */
  --color-primary: #189ab4;
  --color-secondary: #ef863e;
  --shadow-rounded: shadow-[rgba(17, _17, _26, _0.1) _0px_0px_16px];
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
  overflow-x: hidden;
}

@layer components {
  .input-box {
    @apply w-full flex justify-between flex-col gap-3 text-black rounded outline-none;
  }
  .btn-primary {
    @apply w-full text-sm font-medium text-white bg-primary shadow-lg shadow-primary/5 p-[10px] rounded-md my-1 hover:bg-primary/15 hover:text-primary;
  }
  .option-chip {
    @apply text-xs font-medium text-primary bg-sky-100 px-4 py-1 rounded-lg border cursor-pointer;
  }
  .btn-small {
    @apply flex items-center gap-1 text-xs font-medium bg-primary text-white hover:bg-sky-200/60 hover:text-primary rounded px-3 py-[4px];
  }
  .icon-btn {
    @apply text-[20px] text-slate-300 cursor-pointer hover:text-primary;
  }
  .info-text {
    @apply text-sm text-primary font-medium text-center p-3 bg-gray-100 rounded-lg;
  }
}
